<ion-header>
  <ion-toolbar>
    <ion-title>article-create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="article">
  
  <!-- <ion-input [(ngModel)]="article._id" name="_id" type="hidden"></ion-input> -->
  
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="article.title" name="title" type="text"></ion-input>
    <div *ngIf="errors.title"> {{ errors.title }} </div>
  </ion-item>

  <ion-item>
    <ion-label>Keywords</ion-label>
    <ion-input [(ngModel)]="article.keywords" name="keywords" type="text"></ion-input>
    <div *ngIf="errors.keywords"> {{ errors.keywords }} </div>
  </ion-item>

  <ion-item>
    <ion-label>Body</ion-label>
    <ion-input [(ngModel)]="article.body" name="body" type="text"></ion-input>
    <div *ngIf="errors.body"> {{ errors.body }} </div>
  </ion-item>

  <ion-button color="primary" expand="full" (click)="onSubmit()">Submit</ion-button>
</ion-content>